img.fullwidth {
    max-width: 540px;
    width: 100vw;
    margin-left: -21px; // 1px border. 20px padding;
    opacity: 0.8;
}
.intro {
    font-size: 1.4em;
    font-weight: 300;
    opacity: 0.8;
    text-shadow: 0 0 1px rgba(0,0,0,0.8);
    line-height: 1.2;
    margin-bottom: 1em;
}
.illustration {
    margin-left: -21px; // 1px border. 20px padding;
    width: 100vw;
    max-width: 540px;
    height: 40vh;
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
}
.call-to-action {
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
    margin-left: -21px; // 1px border. 20px padding;
    width: 100vw;
    max-width: 540px;
}