<div class="component app-component">
  <ng-container *ngIf="chapter">
  <!-- <h1 class="component-title">{{chapter.title}}</h1> -->
  <div class="separator-big"></div>
  
  <p class="intro">
    {{chapter.intro}}
  </p>
  <div class="illustration" [style.backgroundImage]="'url(' + chapter.imgUrl + ')'">
  <!-- <img [src]="chapter.imgUrl" [alt]="'image for' + chapter.title" class="fullwidth"/> -->
  </div>
  <div class="call-to-action">
      <button *ngIf="chapter.Statements" class="button bigbutton" (click)="start()"><span class="inner">Commencer !</span></button>
  </div>
  </ng-container>
  <ng-container *ngIf="loading">
    <p>Chargement...</p>
  </ng-container>

</div>