<div class="component app-component">
  <h2>Credits</h2>
  <p class="mei">
    <img width="250px" src="/assets/logo.svg" alt="Logo" />
  </p>
  <div class="separator"></div>
  
  <ul>
    <li>Contenu: <strong>Marc Atallah</strong>, <strong>Stéphanie Meylan</strong>, <strong>Jean-François Mollia</strong></li>
  </ul>
  <div class="separator"></div>
  
  <ul>
    <li>Illustrations: <strong>Sandrine Divorne</strong></li>
    <li>Graphisme et webdesign: <strong>Sandrine Divorne</strong>, <strong>Mélanie Da Cunha</strong></li>
    <li>Développement de l'application: <strong>Michaël Zwyssig</strong></li>
  </ul>
  <div class="separator"></div>
  <p class="mei"><a class="logo" href="http://mei.heig-vd.ch"><img src="/assets/MEI_logo_round.png" alt="Media Engineering Institute logo"/></a></p>
  <p class="mei">Media Engineering Institute, HEIG-VD</p>
  <div class="separator-big"></div>
  
</div>