<div class="component app-component">
  <h2 class="left-title">Crédits</h2>
  <p class="tpjs-logo">
    <img width="270px" src="/assets/logo.svg" alt="Logo" />
  </p>

  <div class="centered people">

    <h3>Concept</h3>
    <p>Marc Atallah, Directeur de la Maison d'Ailleurs</p>

    <h3>Contenu</h3>
    <p>Stéphanie Meylan, Psychologue FSP</p>
    <p>J.-F. Mollia-B, Médecin Psychiatre</p>

    <h3>Coordination</h3>
    <p>Daniel Rappo, Directeur du MEI</p>

    <h3>Design et illustrations</h3>
    <p>Sandrine Divorne, Interactive Media Designer</p>

    <h3>Développement</h3>
    <p>Michaël Zwyssig, Ingénieur des Médias</p>
    <p>Simon Oulevay, Ingénieur des Médias</p>

    <h3>Design écrans</h3>
    <p>Mélanie Da Cunha, Interactive Media Designer</p>

  </div>

  <div class="logos centered">
    <div class="logo mei">
      <a href="http://mei-heig-vd.ch" title="Media Engineering Institute, HEIG-VD">
        <img src="/assets/credits/mei.png" alt="logo mei" />
      </a>
    </div>
    <div class="logo ailleurs">
      <a href="http://www.ailleurs.ch" title="Maison d'Ailleurs">
        <img src="/assets/credits/ailleurs.png" alt="logo ailleurs" />
      </a>
    </div>
    <div class="logo pnv">
      <a href="http://www.policenv.ch/" title="Police du Nord Vaudois">
        <img src="/assets/credits/pnv.png" alt="logo police du nord vaudois" />
      </a>
    </div>
    <div class="logo heig-vd">
      <a href="http://www.heig-vd.ch" title="Haute Ecole d'Ingénierie et de Gestion du Canton de Vaud">
        <img src="/assets/credits/heig-vd.png" alt="logo heig-vd" />
      </a>
    </div>


  </div>

  <p>
    <a class="button bigbutton" routerLink="/">
      <span class="inner">OK</span>
    </a>
  </p>
</div>
