<div class="component app-component">
  <h2 class="left-title">Credits</h2>
  <p class="tpjs-logo">
    <img width="270px" src="/assets/logo.svg" alt="Logo" />
  </p>
  <div class="centered people">
    <h3>Contenu</h3>
    <p>Marc Attalah, Maison d'Ailleurs</p>
    <p>Stéphanie Meylan, Resp. de l'Unité psychologique, Ville de Lausanne</p>
    <p>Jean-François Mollia</p>
    <h3>Illustrations</h3>
    <p>Sandrine Divorne, Conceptrice Multimedia, MEI
    </p>
    <h3>Développement applicatif</h3>
    <p>Michaël Zwyssig, Ingénieur des médias, MEI
    </p>
    <h3>Design</h3>
    <p>Sandrine Divorne, Conceptrice Multimedia, MEI
    </p>
    <p>Mélanie Da Cunha, Interactive Media Designer, MEI
    </p>


  </div>
  <div class="logos centered">
    <div class="logo mei">
      <a href="http://mei-heig-vd.ch" title="Media Engineering Institute, HEIG-VD">
        <img src="/assets/credits/mei.png" alt="logo mei" />
      </a>
    </div>
    <div class="logo ailleurs">
      <a href="http://www.ailleurs.ch" title="Maison d'Ailleurs">
        <img src="/assets/credits/ailleurs.png" alt="logo ailleurs" />
      </a>
    </div>
    <div class="logo ylb">
      <a href="http://www.yverdon.ch" title="Yverdon-Les-Bains">
        <img src="/assets/credits/ylb.png" alt="logo yverdon-les-bains" />
      </a>
    </div>
    <div class="logo pnv">
      <a href="http://www.policenv.ch/" title="Police du Nord Vaudois">
        <img src="/assets/credits/pnv.png" alt="logo police du nord vaudois" />
      </a>
    </div>
    <div class="logo heig-vd">
      <a href="http://www.heig-vd.ch" title="Haute Ecole d'Ingénierie et de Gestion du Canton de Vaud">
        <img src="/assets/credits/heig-vd.png" alt="logo heig-vd" />
      </a>
    </div>


  </div>

  <p>
    <a class="button bigbutton" routerLink="/">
      <span class="inner">OK</span>
    </a>
  </p>
</div>
