<div class="component component-inner">
  <h3>Statistiques</h3>

  <table class="list">
    <tbody>
      <tr>
        <td class="xs"> -</td>
        <td> Nombre de questions </td>
        <td> xxx </td>
      </tr>
      <tr>
        <td class="xs"> -</td>
        <td> Nombre d'affirmations </td>
        <td> xxx </td>
      </tr>
      <tr>
        <td class="xs"> -</td>
        <td> Nombre de participations </td>
        <td> xxx </td>
      </tr>
      <tr>
        <td class="xs"> -</td>
        <td> Profil ayant le plus de succès: </td>
        <td> xxx </td>
      </tr>
    </tbody>
  </table>
</div>
