  @import '../../styles/variables';
  .gradient {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; // default
    z-index: -1;
    background: #014558;
    background: -moz-linear-gradient(45deg, #014558 0%, #04171e 51%, #014558 100%);
    background: -webkit-linear-gradient(45deg, #014558 0%, #04171e 51%, #014558 100%);
    background: linear-gradient(45deg, #014558 0%, #04171e 51%, #014558 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014558', endColorstr='#014558', GradientType=1);
    background-attachment: fixed;
    &:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: -moz-linear-gradient(-45deg, rgba(4, 23, 30, 0.5) 0%, rgba(4, 23, 30, 0) 36%, rgba(4, 23, 30, 0) 51%, rgba(4, 23, 30, 0) 66%, rgba(4, 23, 30, 0.5) 99%, rgba(4, 23, 30, 0.5) 100%);
      background: -webkit-linear-gradient(-45deg, rgba(4, 23, 30, 0.5) 0%, rgba(4, 23, 30, 0) 36%, rgba(4, 23, 30, 0) 51%, rgba(4, 23, 30, 0) 66%, rgba(4, 23, 30, 0.5) 99%, rgba(4, 23, 30, 0.5) 100%);
      background: linear-gradient(135deg, rgba(4, 23, 30, 0.5) 0%, rgba(4, 23, 30, 0) 36%, rgba(4, 23, 30, 0) 51%, rgba(4, 23, 30, 0) 66%, rgba(4, 23, 30, 0.5) 99%, rgba(4, 23, 30, 0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8004171e', endColorstr='#8004171e', GradientType=1);
      background-attachment: fixed;
    }
  }

  #result-container {
    z-index: 1;
    &:after {
      content: "";
      background-image: url('/assets/PATTERN_WHITE.png');
      background-repeat: repeat;
      background-size: 450px auto;
      background-position: top left;
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      opacity: 0.06;
    }
    h1 {
      font-size: 1.4em;
      text-align: center;
      text-transform: uppercase;
      font-family: 'eliantoregular', $font-base;
      font-weight: 400;
    }
  }

  .results {
    //border: 1px solid rgba(#0C2C39, 0.8);
    //background: rgba(#0C2C39, 0.3);
    z-index: 1;
    position: relative;
  }

  .profile {
    cursor: pointer;
    padding: 1em 0;
    padding: 1vh 0;
    &.active {
      background: rgba(255, 255, 255, 0.2);
    }
    .title {
      white-space: nowrap;
      font-weight: 300;
      text-rendering: auto;
      margin: 0 0 0.5em 0;
    }
    .chart-outer {
      border: 1px solid white;
      box-shadow: 0 0px 2px 1px rgba(#D1F7FF, 0.5) inset, 0 0px 16px 1px rgba(#D1F7FF, 0.5);
      border-radius: 3em;
      width: 77%;
      height: 12px;
      display: inline-block;
      overflow: hidden;
      .chart-inner {
        background: white;
        display: block;
        height: 100%;
      }
    }
    .amount {
      display: inline-block;
      width: 20%;
      text-align: right;
      font-weight: bold;
    }
  }

  .profile-description {
    &:before {
      margin-top: 3em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 600px;
      max-height: 600px;
      opacity: 1;
      z-index: -1;
      background: url(/assets/gridresultsbg.png) repeat-x top center / 40px auto;
      background: url(/assets/gridresultsbg.png) repeat-x top center / 40px auto, -moz-linear-gradient(top, rgba(15, 58, 72, 0) 0%, rgba(15, 58, 72, 0.6) 11%, rgba(15, 58, 72, 0.8) 40%, rgba(15, 58, 72, 0.53) 60%, rgba(15, 58, 72, 0) 100%);
      background: url(/assets/gridresultsbg.png) repeat-x top center / 40px auto, -webkit-linear-gradient(top, rgba(15, 58, 72, 0) 0%, rgba(15, 58, 72, 0.6) 11%, rgba(15, 58, 72, 0.8) 40%, rgba(15, 58, 72, 0.53) 60%, rgba(15, 58, 72, 0) 100%);
      background: url(/assets/gridresultsbg.png) repeat-x top center / 40px auto, linear-gradient(to bottom, rgba(15, 58, 72, 0) 0%, rgba(15, 58, 72, 0.6) 11%, rgba(15, 58, 72, 0.8) 40%, rgba(15, 58, 72, 0.53) 60%, rgba(15, 58, 72, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f3a48', endColorstr='#000f3a48', GradientType=0);
    }
    .profile-name {
      font-weight: 200;
      text-transform: uppercase;
      text-align: center;
    }
  }

  // Set the 20px padding on all the elements
  #result-container {
    h1,
    .main-intro {
      padding: 0 20px;
    }
  }

  .profile {
    &,
    * {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    .arrow {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 28px;
      margin-left: 2%;
      background-image: url(/assets/arrow_down.png);
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
      transform: rotate(0);
    }
    .profile-description {
      max-height: 600px;
      overflow: hidden;
      padding: 0 20px;
    }
    .head {
      padding: 1em 1em 1em 13%;
    }
    &.open {
      .head {
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bffffff', endColorstr='#00ffffff', GradientType=0);
      }
    }
    &.closed {
      opacity: 0.8;
      .arrow {
        transform: rotate(-90deg);
      }
      .head {
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);
      }
      .profile-description {
        max-height: 0;
        opacity: 0;
        z-index: -999;
        &:before {
          max-height: 0;
        }
        .head {
          background: none;
        }
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  

  .separator-profile {
    background-image: url('/assets/separator_profile.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: contain;
    height: 100px;
    width: 100%;
    &.rotated {
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .image-separator {
    text-align: center;
    margin-top: -90px;
    position: relative;
    z-index: 10;
    img {
      width: 100px;
    }
  }

  .morale {
    padding: 0 1em;
    text-align: center;
  }

  .footer-results {
    text-align: center;
    .share-box {
      margin-top: 7em;
    }
  }
