<div class="component app-component">
  <h2 class="left-title">À propos</h2>
  <p class="tpjs-logo">
    <img width="270px" src="/assets/logo.svg" alt="Logo" />
  </p>
  <p>Développé par le
    <em>
      <a href="http://mei.heig-vd.ch">Media Engineering Institute</a>
    </em> de la HEIG-VD, ce quiz est l’aboutissement d’une réflexion – amorcée par la Maison d’Ailleurs et la Police Nord Vaudois,
    continuée par plusieurs spécialistes – qui vise à montrer que les personnages de Star Wars expriment tous quelque chose
    de nous-mêmes et que les situations narratives qu’ils rencontrent dans les films évoquent toutes, mais sur un mode imagé,
    celles que nous rencontrons dans notre vie de tous les jours. Star Wars est un mythe et le mythe a pour fonction de nous
    aider à réfléchir à nos problématiques et à nos tentations.</p>

  <p>Cette application dialogue avec la nouvelle exposition de la Maison d’Ailleurs, « Je suis ton père ! » (
    <a href="http://www.ailleurs.ch">www.ailleurs.ch</a>), qui se tient à Yverdon-les-Bains du 10 décembre 2017 au 14 octobre 2018.</p>

  <p>
    <a class="button bigbutton" routerLink="/">
      <span class="inner">OK</span>
    </a>
  </p>

</div>
