th {
  text-align: left;
}

input[type=number] {
  width: 60px;
}

.back {
  float: right;
}

input[type="submit"],
button,
a.button {
  background: #666;
  color: #000;
  box-shadow: none;
  border-color: #000;
  &.editing {
      background: #545454;
  }
}