.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

#main-content {
  left: 0;
  right: 0;
}

.component-title {
  margin-bottom: 0.4em;
  animation: 1s ease-out 0s 1 pulseOnLoad;
  text-align: center;
  font-family: 'Elianto', $font-base;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -1px;
}

.pulse {
  animation: 1s ease-out 0s 1 pulseOnLoad;
  
}

h1.component-title {
  &:before {
    content: "- "
  }
  &:after {
    content: " -"
  }
}

.component {
  position: relative;
}


.component-container {
  >h4 {
    margin-top: 0;
  }
}

.flex {
  margin: 0 inherit;
  padding: 0;
  display: flex;
  &>* {
    flex: 1;
  }
}

@keyframes pulseOnLoad {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  78% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
