.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
img.fullwidth {
  width: 100vw;
  max-width: inherit;

  margin-left: -1em;
}
#main-content {
  position:absolute;
  left:0;right:0;
}

.component-title {
  margin-bottom: 0.4em;
  animation: 1s ease-out 0s 1 pulseOnLoad;
  &:before {
    content: "- "
  }
  &:after {
    content: " -"
  }
}

.component {
  position:relative;
}

.component-container {
  background: #222;
  padding: 1em;
  > h4 {
    margin-top:0;
  }
}

.flex {
  margin: 0 inherit;
  padding: 0;
  display: flex;
  &>* {
    flex: 1;
  }
}



@keyframes pulseOnLoad {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  78% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}