@font-face {
  font-family: 'eliantoregular';
  src: url('/assets/fonts/elianto-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/elianto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $font-base;
}


.centered {
  text-align:center;
}