.component {
    position:relative;
    
}
td.buttons {
    width: 130px;
    text-align:right;
}

tr.even {
    background: #444;
}

tr.odd {
    background: #303030;
}


table.list tr.even td {
    border-bottom: 1px solid #636363;
}

table.list tr.odd td {
    border-bottom: 1px solid #3D3D3D;
}


.chapter-select {
    max-width: 400px;
}

.statement-list {
    height: 50vh;
    overflow-y: auto;
    background: #333;
    border:1px solid #555;
    padding-top: 2em;
    thead {
        position:absolute; // absolute to component
        left:1px;
        right: 1em;
        background: #222;
        margin-top: -2em;
        padding: 0em 0.5em;
    }
}