<div *ngIf="!finished" class="component tdr-component app-component">
  <div class="bg" [style.backgroundImage]="'url(' + chapter.imgUrl + ')'"></div>
  <div [class]="tabVisible ? 'chapterInfo visible': 'chapterInfo not-visible'">
    <div class="tab-content">
      <h2 class="title">{{chapter.title}}</h2>
      <p class="intro">{{chapter.intro}}</p>
    </div>
    <div (click)="tabVisible = !tabVisible" class="tab">
    </div>
  </div>
  <div id="answers" class="verticalsplit">
    <div class="left" [style.backgroundColor]="'rgba(255,255,255,'+ opacityLeft +')'">
      <div class="text">Oui</div>

    </div>
    <div class="separator vertical"></div>
    <div class="right" [style.backgroundColor]="'rgba(255,255,255,'+ opacityRight +')'">
      <div class="text">Non</div>


    </div>
  </div>

  <div id="viewport">
    <div class="stack" swing-stack [stackConfig]="stackConfig" #swSwing (throwout)="onThrowOut($event)">
      <div class="card" swing-card #questionCard  *ngFor="let st of statements; let i = index" [id]="'statement-' + st.id + '-' + i" [ngClass]="{'accepting': st.accepting, 'refusing': st.refusing, 'neutral': !st.accepting && !st.refusing}">
        <div class="card-content">
          <div class="inner">
            {{st.text}}
          </div>
          <!--div class="info accept" *ngIf="st.accepting"><br>[ Accepter ]</div>
          <div class="info refuse" *ngIf="st.refusing"><br>[ Refuser ]</div-->
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showHelp" id="swipeHelp" (click)="closeHelp()">
  <div class="inner">
      <div  (click)="closeHelp()" class="close">&times;</div>      
    <p>Répondez en faisant glisser le cercle.</p>
    <p><img src="/assets/swipe_help.svg" alt="swipe help" /></p>
  </div>
</div>
