@import '../../styles/variables';
.card-container {
  position: fixed;
}

#viewport {
  width: 500px;
  height: 500px;
  max-width: 70%;
  margin: 50vh auto 0;
  position: relative;
  border-radius: 5em;
  top: -260px;
  .stack {
    width: 200px;
    height: 200px;
    background: black;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -100px;
    border-radius: 100em;
  }
}

.card {
  width: 200px;
  height: 200px;
  list-style: none;
  background: rgba(#000,.9);
  border-radius: 5em;
  position: absolute;
  top: 0;
  left: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset, 0px 0px 12px rgba($color-base, 0.6);
  line-height: 200px;
  text-align: center;
  font-size: 100px;
  box-sizing: border-box;
  cursor: default;
  p {
    margin: 0;
  }
  .icon {
    height: 60px;
    width: auto;
    opacity: 0.3;
    &:hover {
      opacity: 0.5;
    }
  }
}

.in-deck:nth-child(3) {
  top: 2px;
  transform: translate(2px, 2px) rotate(0.4deg);
}

.in-deck:nth-child(2) {
  top: 4px;
  transform: translate(-4px, -2px) rotate(-1deg);
}

#control {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
  button {
    background: #FFFFFF;
    color: #373737;
    font-weight: bold;
    border: none;
    font: normal 18px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 2px 0 #63211F;
    outline: none;
    position: relative;
  }
  button:active {
    background: #63211F;
    color: #FFFFFF;
    bottom: -2px;
    box-shadow: none;
  }
}

#answers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
}


// 2-ways swipe
#answers.verticalsplit {
  display: flex;
  .left,
  .right {
    flex: 1;
    padding: 1em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba($color-base, 0.6);
  }
  .left {}
  .right {}
}





// 4-ways swipe
#answers.triangles-4 {
  .top,
  .right,
  .bottom,
  .left {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .top {
    bottom: auto;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50vh solid green;
  }
  .right {
    left: auto;
    width: 0;
    height: 0;
    border-top: 50vh solid transparent;
    border-bottom: 50vh solid transparent;
    border-right: 50vw solid orange;
  }
  .bottom {
    top: auto;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 50vh solid rebeccapurple;
  }
  .left {
    right: auto;
    width: 0;
    height: 0;
    border-top: 50vh solid transparent;
    border-bottom: 50vh solid transparent;
    border-left: 50vw solid darkcyan;
  }
}
