@import '../styles/_variables.scss';
$menuHeight: 30px;
#menu {
  overflow: hidden;
  border-bottom: 1px solid $color-base;
  background: #333;
  position: fixed;
  height: $menuHeight;
  line-height: $menuHeight;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  a {
    border:none;
    color:white;
  }
}

#main-content {
  .component {
    //margin-top: $menuHeight;
    animation: 0.5s ease-out 0s 1 fadeIn;
  }
  .component-inner { // subcomponents
    padding:0;
    margin:0;
  }
  .admin-component {
    width: 80%;
    padding: 1em 0;    
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    .admin-component {
      width: 100%;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}


#menu {
  .title {
    
    padding-left: 1em;

  }
  .admin {
    float:right;
    padding-right: 1em;
    opacity: 0.7;
  }
}