<!--section id="menu">
    <div class="container">
        <span class="title"><a routerLink="">{{title}}</a></span>&nbsp;&nbsp;&nbsp;
        <span class="admin"><a routerLink="admin">admin</a></span>
    </div>
</section-->
<section *ngIf="logoVisible" id="small-logo">
    <p class="logo"><a routerLink="/"><img src="/assets/logo_h.svg" alt="Logo"/></a></p>
    <div class="separator"></div>
</section>

<section id="main-content" [class]="logoVisible ? 'component-container logoVisible':'component-container'">
    <router-outlet></router-outlet>
</section>