<!--section id="menu">
    <div class="container">
        <span class="title"><a routerLink="">{{title}}</a></span>&nbsp;&nbsp;&nbsp;
        <span class="admin"><a routerLink="admin">admin</a></span>
    </div>
</section-->
<section *ngIf="logoVisible" id="small-logo">
    <p class="logo"><a routerLink="/"><img src="/assets/logo_h.svg" alt="Logo"/></a></p>
    <div class="separator"></div>
</section>

<section id="main-content" [class]="logoVisible ? 'component-container logoVisible':'component-container'">
    <router-outlet></router-outlet>
    <footer id="footer">
        <div class="separator"></div>
        <button class="facebook" (click)="share()">Partager &nbsp;&nbsp;<img class="icon" src="/assets/icon-facebook.svg" alt="sur facebook"/></button>
        <!--&nbsp; <button class="facebook" (click)="share('obi-wan_kenobi')">Partager Obi-Wan &nbsp;&nbsp;<img class="icon" src="/assets/icon-facebook.svg" alt="sur facebook"/></button>
        &nbsp; <button class="facebook" (click)="share('dark_vador')">Partager Dark Vador &nbsp;&nbsp;<img class="icon" src="/assets/icon-facebook.svg" alt="sur facebook"/></button>
        &nbsp; <button class="facebook" (click)="share('han_solo')">Partager Han Solo &nbsp;&nbsp;<img class="icon" src="/assets/icon-facebook.svg" alt="sur facebook"/></button>
        &nbsp; <button class="facebook" (click)="share('luke_skywalker')">Partager Luke &nbsp;&nbsp;<img class="icon" src="/assets/icon-facebook.svg" alt="sur facebook"/></button>-->
        &nbsp; &nbsp;<a class="button" routerLink="credits">Credits</a> &nbsp;<a class="button" routerLink="about">À propos</a>
    <br>
    </footer>

</section>

