<div class="component">
  <h1 class="component-title"><a routerLink="/admin" >Administration</a></h1>
  <div class="component-container">
    <div class="flex">
      <a routerLinkActive="active" routerLink="situations" class="button btn activity">
        Situations
      </a>
      <a routerLinkActive="active" routerLink="statements" class="button btn activity">
        Affirmations
      </a>
      <a routerLinkActive="active" routerLink="profiles" class="button btn activity">
        Profils
      </a>
      <a routerLinkActive="active" routerLink="results" class="button btn activity">
        Resultats
      </a>

    </div>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
