<div class="component app-component">
  <p class="pulse logo"><img src="/assets/logo.svg" alt="Logo"/></p>
  <p class="intro">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet consectetur tortor. Sed fermentum ex sed felis interdum,
    vel mollis quam lacinia. Quisque nec nisl vulputate, porta leo at, vehicula ante.
  </p>
  <div class="separator"></div>
  <div class="call-to-action">
    <div class="new-player" *ngIf="!oldPlayer">
      <button class="bigbutton" (click)="startNew()"><span class="inner">Démarrer</span></button>
    </div>
    <div class="old-player" *ngIf="oldPlayer">
      <p>Reprendre session ? &nbsp;&nbsp; <a class="button" routerLink="/situation">Reprendre</a>
      </p>
      <button class="bigbutton" (click)="startNew()"><span class="inner">Recommencer</span></button>     
      
    </div>
  </div>
</div>
